.apodArea {
  display: flex;
  justify-content: center;
  margin: 2% 0 2% 0;
}

.apod {
  width: 55%;
  /* height: calc(52.5vw / 3); */
  background-image: linear-gradient(to right, #8a58ff, #151b8c);
  /* border-radius: 10px; */
  /* margin-left: 3%;
  margin-right: 3%; */
  box-shadow: 0 1px 8px 4px rgba(223, 192, 247, 0.61);
  border: 2px solid #e5e5e5;
  color: white;
}

.apodContainer {
  display: flex;
}

.apodInfo {
  display: flex;
  flex-direction: column;
}

.media {
  width: calc(54.5vw / 3);
  height: calc(54.5vw / 3);
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid black;
}

.apodMediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apodImg {
  object-fit: cover;
  cursor: pointer;
  /* border-top-left-radius: 5%;
  border-top-right-radius: 5%; */
}

.media:hover {
  border: 1px solid rgb(0, 255, 0);
}

.title {
  /* background-image: linear-gradient(to right, #585dff, #15418c); */
  text-align: left;
  margin-bottom: 0.5vh;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 20px;
  margin-top: 0.25vh;
}

.title,
.explanation,
.date {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.explanation,
.date {
  width: 85%;
  font-size: 13px;
}

.explanation {
  margin-bottom: 5%;
}

.date {
  font-style: italic;
}

.apodLoader {
  margin: auto;
}

.apodHeader {
  display: flex;
  justify-content: space-between;
}

.apodHeartContainer {
  display: grid;
  place-items: end;
  margin-right: 7.5%;
}

@media only screen and (max-width: 1300px) {
  .apod {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .apodContainer {
    flex-direction: column;
  }
  .media {
    width: calc(95vw / 3);
    height: calc(95vw / 3);
  }
}

@media (max-height: 300px), only screen and (max-width: 735px) {
  .apod {
    width: 100%;
  }
  h1 {
    margin-top: 1vw;
  }
  .apodArea {
    margin: 0;
  }
}
