.header {
  background-image: linear-gradient(to right, #151b8c, #8a58ff);
  height: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 -50px 98px 44px rgb(-9 39 15 / 61%);
  border: 2px solid #0f0e29;
  z-index: 9999;
}

.logo {
  margin: 0;
  font-family: "Brush Script MT", cursive;
  font-size: 3.5vh;
  color: white;
  text-shadow: 0 0 2px #000;
  text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000,
    -1px -1px 0 #000;
}
