.posts {
  display: flex;
  justify-content: center;
  margin: 2% 2% 0 2%;
  padding-bottom: 5vh;
}

.postsContainer {
  width: 55%;
  min-height: 80vh;
  /* padding-top: 5vh;
    padding-bottom: 5vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* background-image: linear-gradient(to right, #8a58ff, #151b8c); */
  /* border-radius: 25px; */
  /* box-shadow: 2px 0px 8px 4px rgb(223 192 247 / 61%); */
  box-shadow: 0px 0px 8px 4px rgb(255 255 255 / 61%);
  border-right: 2px solid black;
  /* border-inline: 1px solid #e5e5e5; */
  /* row-gap: 5vh; */
  /* gap: 2vw; */
}

.loader {
  margin: auto;
  margin-top: 3vh;
}

.metadata {
  display: grid;
  place-items: center;
  margin-top: 2vh;
}

.hits {
  color: white;
}
