.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 70vh;
  transform: translate(-50%, -50%);
  background-color: #000121;
  z-index: 2;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(62, 33, 128, 0.5);
  z-index: 2;
}

.modalContainer {
  color: #e5e5e5;
  display: flex;
  width: 100%;
  height: 100%;
}

.modalImgContainer {
  display: grid;
  place-items: center;
}

.modalImgContainer,
.modalInfo {
  width: 50%;
  height: 100%;
}

.modalImg {
  width: 85%;
  height: 100%;
  object-fit: contain;
}

.modalCloseContainer {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
