.post {
  width: calc(100% / 3);
}

.postInfo {
  height: calc(55vw / 3);
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
  transition: all 0.2s ease-out;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.postInfo:hover {
  border: 1px solid rgb(0, 255, 0);
  z-index: 2;
}

.postInfo:hover .postDetails {
  display: flex;
}

.postDetails {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  transition: all 1s ease;
}

.postTitle,
.postMore {
  color: white;
  margin: 7.5%;
  user-select: none;
}

.postTitle {
  font-size: 125%;
  font-weight: bold;
  overflow-wrap: break-word;
}

.postMore {
  display: flex;
  justify-content: space-between;
}

.postDate {
  font-size: 90%;
  display: grid;
  place-items: center;
}

.postImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.postLoader {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.postLikes {
  width: 2rem;
  height: 2rem;
}

.heart {
  width: 2rem;
  min-width: 2rem;
  color: gray;
}

@media only screen and (max-width: 1300px) {
  .postInfo {
    height: calc(80vw / 3);
  }
}

@media only screen and (max-width: 735px) {
  .postInfo {
    height: calc(100vw / 3);
  }
  .postInfo:hover .postDetails {
    display: none;
  }
}
